// Define color variables
$primary-color: #FF3B6A;  // Button background color
$text-color: #ffffff;
$header-bg: #333;
$footer-bg: #222;
$black: #000;
$primary-bg: #06141B;
$bg-1: #253745;


// Font Variables
$font-primary: "Axiforma", sans-serif;
$font-secondery: "Raleway", sans-serif;