@import "variables";
@import "global";
@import "header";
@import "footer";
@import "buttons";
@import "blog";
@import "subscriptions";


// Hero
// ==================================
.hero{
    padding: 170px 20px 0;
    margin-top: -80px;
    position: relative;
    background: url("../images/hero-bg.png") no-repeat center / cover;

    &::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        background: linear-gradient(231.41deg, rgba(0, 0, 0, 0) 8.26%, #0E151B 68.29%);
        z-index: 0;
    }


    .left-side{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-right: 50px;
        position: relative;
        z-index: 3;

        .section-title, p, .btns-wrapper{
            z-index: 1;
        }

        .circle-shape{
            position: absolute;
            top: -250px;
            z-index: 0;
        }
    }

    .right-side{
        position: relative;
        z-index: 3;
        .swiper {
            max-width: 445px;
            height: 622px;
            aspect-ratio: 4 / 3;

            @media screen and (max-width: 1300px){
                max-width: 380px;
                height: 500px;
            }
            @media screen and (max-width: 767px){
                max-width: 340px;
                height: 400px;
            }
            @media screen and (max-width: 576px){
                max-width: 280px;
                height: 330px;
            }
        }
        .swiper-slide {
            border-radius: 24px;
            transition: all 1s ease-in-out;

            .slider-img{
                border-radius: 24px;
                width: 445px;
                height: 622px;
                object-fit: cover;
                @media screen and (max-width: 1300px){
                    width: 380px;
                    height: 500px;
                }
                @media screen and (max-width: 767px){
                    width: 340px;
                    height: 400px;
                }
                @media screen and (max-width: 576px){
                    width: 280px;
                    height: 330px;
                }
            }
        }
        .swiper-button-next,
        .swiper-button-prev {
            display: none !important;
        }

        .scroll-bottom {
            position: absolute;
            bottom: -100px;
            right: 0;
            z-index: 2;
            display: flex;
            align-items: center;
            gap: 15px;

            a.scroll-btn{
                text-decoration: none;
                font-family: $font-primary;
                font-weight: 400;
                font-size: 14px;
                line-height: 145%;
                letter-spacing: 0%;

            }
        }
    }

    @media screen and (max-width: 992px) {
        .row{
            flex-direction: column;
            gap: 40px;

            .col-md-6{
                width: 100%;

                .scroll-bottom{
                    display: none;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        padding: 170px 8px 0;
        .row{
            flex-direction: column;
            gap: 40px;

            .left-side{
                padding-right: 0;

                .circle-shape{
                    width: 100%;
                }
            }
        }
    }
    @media screen and (max-width: 576px) {
        .row{
            .left-side{
                .btns-wrapper{
                    flex-direction: column;
                }
            }
        }
    }

}


// Reel section
.reel{
    background: url("../images/reel-bg.png") no-repeat center / cover;
    padding: 55px 20px;
    margin-top: -130px;
    margin-left: -4px;
    rotate: -2deg;

    .quality-badge {
        display: flex;
        align-items: center;
        gap: 30px;

        .left, .right {
            display: flex;
            align-items: center;
            gap: 20px;

            .content{
                p{
                    font-weight: 800;
                }
            }
        }
    }

    @media screen and (max-width: 992px) {
        margin-top: 0;
        margin-left: 0;
        rotate: 0deg;
        padding: 35px 20px;

        .row{
            justify-content: center;

            .col-md-6{
                width: 80%;
            }
        }
    }
    @media screen and (max-width: 767px) {

        .row{
            justify-content: center;

            .col-md-6{
                width: 100%;
            }
            
            .quality-badge{
                flex-direction: column;
            }
        }
    }
}

// Abonnement
.abonnement{
    margin-top: 50px;
    padding: 150px 20px 90px;
    background: url("../images/iptv-shape.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 43% -100px;
    overflow: hidden;

    .left{
        position: relative;
        .circle-shape{
            position: absolute;
            right: -90px;
            top: -170px;

            @media  screen and (max-width: 992px) {
                display: none;
            }
        }
    }

    .right{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 15px;
        padding-left: 30px;
        position: relative;
    }

    .to-center{
        justify-content: center;
    }

    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 50px;
        gap: 10px;
        width: 1050px;

        .card{
            padding: 40px;
            border: 7px solid #0B1C21;
            background-color: #122429;
            border-radius: 16px;
            rotate: -3deg;
            position: relative;

            &::after{
                content: "";
                width: 64px;
                height: 64px;
                position: absolute;
                top: -7px;
                right: -7px;
                clip-path: polygon(100% 0, 0 0, 100% 100%);
                background-color: $primary-bg;
            }

            img{
                width: 64px;
                height: 64px;
            }
            .card-title{
                color: $text-color;
                margin-top: 20px;
            }
            p {
                font-family: $font-secondery;
                font-weight: 300;
                font-size: 16px;
                line-height: 130%;
                letter-spacing: 0%;
            }
        }
    }

    @media screen and (max-width: 992px) {
        .cards{
            .card{
                padding: 20px;
    
                &::after{
                    content: "";
                    width: 34px;
                    height: 34px;
                }
    
                img{
                    width: 44px;
                    height: 44px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        .right{
            padding-left: 12px;
    
            .circle-shape{
                position: absolute;
                bottom: 500px;
                left: -500px;
            }
        }
    }

    @media screen and (max-width: 576px) {
        .cards{
            grid-template-columns: 1fr;
            .card{
                padding: 30px;
            }
        }
    }
}

// Series
.series-wrapper{
    overflow: hidden;
}
.series{
    padding: 60px 20px 0px;
    overflow-x: hidden;

    .to-center{
        justify-content: center;

        .content{
            max-width: 950px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            align-items: center;
        }
    }
    @media screen and (max-width: 992px){
        padding: 0 20px 0px;
    }
}
.series-2 {

    .photobanner__wrap {
        display: flex;
        margin-top: 50px;
        rotate: -3deg;
        
        &:hover {
        .photobanner {
            animation-play-state: paused;
        }
        }

        .photobanner {
            display: flex;
            animation-name: swiperAnimation;
            animation-duration: 40s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
    
            img {
                width: 180px;
                height: 255px;
                object-fit: cover;
                border-radius: 16px;
                margin-right: 20px;
                opacity: .5;
                transition: .3s ease;

                &:hover{
                    opacity: 1;
                }
            }
        }
    }

    .photobanner__wrap_2 {
        display: flex;
        margin-top: 20px;
        rotate: -3deg;
        
        &:hover {
        .photobanner_2 {
            animation-play-state: paused;
        }
        }
    
        .photobanner_2 {
            display: flex;
            animation-name: swiperAnimation2;
            animation-duration: 40s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
    
            img {
                width: 180px;
                height: 255px;
                object-fit: cover;
                border-radius: 16px;
                margin-right: 20px;
                opacity: .5;
                transition: .3s ease;

                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}

// Streaming Platform
.streaming{
    background: url("../images/reel-bg.png") no-repeat center / cover;
    padding: 55px 20px;
    margin-left: -4px;
    margin-top: 50px;
    margin-bottom: 50px;
    rotate: -3deg;

    .photobanner__wrap_3{
        display: flex;
        gap: 50px;
        
        &:hover {
            .photobanner_3 {
                animation-play-state: paused;
            }
        }

        .photobanner_3 {
            display: flex;
            animation-name: swiperAnimation;
            animation-duration: 40s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            gap: 50px;
    
            img {
                width: auto;
                max-height: 80px;
                object-fit: cover;
                padding-right: 20px;
            }
        }
    }

    @media screen and (max-width: 992px) {
        padding: 35px 20px;
        margin-top: 35px;
        margin-bottom: 50px;
    }
}

// Plan
.plan{
    padding: 0 20px;

    .plan-row{
        background: url("../images/plan-shape-circle.png") no-repeat center / cover;
        margin-top: -80px;
        margin-bottom: -185px;
    }
    .content{
        display: flex;
        align-items: center;
        padding-left: 50px;
        rotate: -2deg;
    }

    .reel-camera{
        rotate: -7.42deg;
        display: flex;
        justify-content: flex-end;
    }

    @media screen and (max-width: 1200px){
        .plan-row{
            .content{
                padding-left: 0;
            }
        }
    }
    @media screen and (max-width: 992px){
        .plan-row{
            margin-bottom: -115px;
            .content{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 15px;
            }
            .reel-camera{
                img{
                    max-width: 300px;
                }
            }
        }
    }
    @media screen and (max-width: 767px){
        .plan-row{
            margin-top: 0;
            background: url("../images/plan-shape-circle.png") no-repeat center / 600px;
        }
    }
}
.plan_2{
    padding-bottom: 90px;
}

// testimonial
.testimonial{
    padding: 300px 20px 90px;
    background: url("../images/hero-circle.png") no-repeat center / contain;

    .plan-row{
        position: relative;

        .circle-shape{
            position: absolute;
            top: -300px;
            left: 40%;
            rotate: -10.5deg;
        }

        .right{
            display: flex;
            align-items: flex-end;
            padding-bottom: 20px;

            .btns-wrapper{
                .iptv-btn{
                    padding: 30px 40px;
                    border-radius: 12px;
                }
            }
        }
    }

    @media screen and (max-width: 1300px){
        .plan-row{
            .right{
    
                .btns-wrapper{
                    .iptv-btn{
                        padding: 20px 40px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1050px){
        .plan-row{
            .right{
    
                .btns-wrapper{
                    .iptv-btn{
                        padding: 20px 20px;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 992px){
        padding-bottom: 0;
    }
    @media screen and (max-width: 576px){
        .right{

            .btns-wrapper{
                flex-direction: column;
            }
        }
    }
}

// FAQ
.faq{
    padding: 200px 20px 90px;
    background: url("../images/hero-circle.png") no-repeat top center / 600px;

    .plan-row{
        justify-content: center;

        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            max-width: 650px;

            .img{
                rotate: -12.88deg;
            }
            .section-title{
                text-align: center;
                rotate: -2deg;
            }
            p{
                text-align: center;
            }
        }

        .faq-inner{
            max-width: 937px;

            .accordion-item {
                background: #122429;
                border-color: #FFFFFF1A;
                margin-bottom: 16px;
                border-radius: 16px;
                
                .accordion-button{
                    background: #122429;
                    color: $text-color;
                    font-family: $font-primary;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 128%;
                    letter-spacing: 0%;
                    text-transform: capitalize;
                    border-radius: 14px;

                    &::after{
                        background: url("../images/arrow-down.png") no-repeat top center / contain;
                    }

                    &:not(.collapsed){
                        box-shadow: none;
                    }
                }

                .accordion-body{
                    color: $text-color;
                    opacity: .6;
                }
            }
        }
    }

    @media screen and (max-width: 1300px){
        padding: 100px 20px 90px;
    }
    @media screen and (max-width: 992px){
        padding: 100px 20px 0;
    }
}

// Flags Platform
.flags-wrapper{
    overflow: hidden;
}
.flags{
    background: url("../images/reel-bg.png") no-repeat center / cover;
    padding: 55px 20px;
    margin-left: -4px;
    margin-top: 50px;
    margin-bottom: 50px;
    rotate: -3deg;

    .photobanner__wrap_3{
        display: flex;
        gap: 50px;
        
        &:hover {
            .photobanner_3 {
                animation-play-state: paused;
            }
        }

        .photobanner_3 {
            display: flex;
            animation-name: swiperAnimation;
            animation-duration: 40s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            gap: 50px;
    
            img {
                width: auto;
                max-height: 80px;
                object-fit: cover;
                padding-right: 20px;
                opacity: .5;
                transition: .3s ease-in-out;

                &:hover{
                    opacity: 1;
                }
            }
        }
    }
    @media screen and (max-width: 992px){
        padding: 35px 20px;
    }
}

// Blogs
.blogs{
    padding: 0 20px 90px;
    background: url("../images/hero-circle.png") no-repeat center / contain;

    .plan-row{

        .left{
            display: flex;
            align-items: center;
        }

        .right{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 40px;

            .circle-shape{
                rotate: -2deg;
                margin-top: -95px;
            }
        }
    }

    .post-row{
        z-index: 3;
        margin-top: -40px;

        .col-md-4{
            z-index: 2;
        }

        .post{
            display: block;
            background: url("../images/post-img-1.png") no-repeat center / cover;
            width: 100%;
            height: 233px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 16px;
            border-radius: 5px;
            cursor: pointer;
            
    
            .title{
                font-family: $font-primary;
                font-weight: 400;
                font-size: 16px;
                line-height: 136%;
                letter-spacing: 0%;
                color: $text-color;
            }
            .post-date{
                font-family: $font-primary;
                font-weight: 400;
                font-size: 12px;
                line-height: 136%;
                letter-spacing: 0%;
                color: $text-color;
                opacity: .6;
            }
        }
    }

    @media screen and (max-width: 992px){
        padding: 0 20px 60px;

        .plan-row{
    
            .right{
                padding-right: 0;
    
                .circle-shape{
                    max-width: 250px;
                    margin-top: -95px;
                }
            }
        }
    }
    @media screen and (max-width: 767px){

        .plan-row{
    
            .right{
    
                .circle-shape{
                    display: none;
                }
            }
        }
        .post-row{
            margin-top: 5px;
        }
    }
}


@keyframes swiperAnimation{
    0%{
    transform:translateX(0)
    }
    100% {
    transform:translateX(-100%)
    }
}

@keyframes swiperAnimation2{
    0%{
        transform:translateX(-100%)
    }
    100% {
        transform:translateX(0)
    }
}