* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #06141B;
}

h1, h2, h3, h4, h5, h6, p, li {
  margin: 0;
}

p, a, li {
  color: #ffffff;
  font-family: "Axiforma", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
}
@media screen and (max-width: 1050px) {
  p, a, li {
    font-size: 14px;
  }
}

.section-title {
  color: #ffffff;
  font-family: "Axiforma", sans-serif;
  font-weight: 300;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: capitalize;
}
.section-title strong {
  font-weight: 700;
}
.section-title .special {
  position: relative;
  display: inline-block;
}
.section-title .special::after {
  content: "";
  position: absolute;
  top: -26px;
  right: -35px;
  width: 51px;
  height: 56px;
  background: url("../images/special-icon.png") no-repeat center/contain;
}
@media screen and (max-width: 1300px) {
  .section-title {
    font-size: 54px;
    line-height: 110%;
  }
}
@media screen and (max-width: 767px) {
  .section-title {
    font-size: 42px;
    line-height: 100%;
  }
}

.card-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 130%;
  letter-spacing: 0%;
}
@media screen and (max-width: 992px) {
  .card-title {
    font-size: 22px;
  }
}

.subtitle {
  border-radius: 100px;
  padding: 12px 24px;
  background: #FF3B6A;
  color: #ffffff;
  font-family: "Axiforma", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.pricing .pricing-swiper {
  padding: 60px 130px;
}
.pricing .pricing-swiper .pricing-card {
  background-color: #13242A;
  border-radius: 24px;
  position: relative;
}
.pricing .pricing-swiper .pricing-card .card-top {
  background-color: #21383E;
  padding: 45px 38px 30px;
  border-radius: 12px 12px 0 0;
  position: relative;
}
.pricing .pricing-swiper .pricing-card .card-top::after {
  content: "";
  width: 64px;
  height: 64px;
  position: absolute;
  top: -7px;
  right: -7px;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  background-color: #06141B;
}
.pricing .pricing-swiper .pricing-card .card-top .top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pricing .pricing-swiper .pricing-card .card-top .top .price-review {
  display: flex;
  gap: 15px;
  align-items: flex-end;
  justify-content: space-between;
}
.pricing .pricing-swiper .pricing-card .card-top .top .price-review .price {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}
.pricing .pricing-swiper .pricing-card .card-top .top .price-review .price .amount {
  font-family: "Axiforma", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #ffffff;
  margin-bottom: -6px;
}
.pricing .pricing-swiper .pricing-card .card-top .top .price-review .price p {
  color: rgba(255, 255, 255, 0.4);
}
.pricing .pricing-swiper .pricing-card .card-top .middle {
  margin-top: 50px;
}
.pricing .pricing-swiper .pricing-card .card-top .middle .features {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pricing .pricing-swiper .pricing-card .card-top .middle .features li {
  display: flex;
  gap: 16px;
  align-items: center;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.137254902);
  border-image: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.137254902) 0, rgba(255, 255, 255, 0.137254902) 10px, transparent 10px, transparent 20px) 1;
  padding-bottom: 20px;
}
.pricing .pricing-swiper .pricing-card .card-top .middle .features li span {
  color: #CCD0CF;
}
.pricing .pricing-swiper .pricing-card .card-top .bottom {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 30px;
}
.pricing .pricing-swiper .pricing-card .card-top .bottom .iptv-btn {
  border-radius: 12px;
  padding: 30px 20px;
}
.pricing .pricing-swiper .pricing-card .card-bottom {
  padding: 38px 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pricing .pricing-swiper .swiper-button-next, .pricing .pricing-swiper .swiper-button-prev {
  display: none;
}
.pricing .pricing-swiper .swiper-slide {
  transition: transform 0.3s ease-in-out;
}
.pricing .pricing-swiper .swiper-slide-next {
  transform: translateY(-40px);
}
@media screen and (max-width: 767px) {
  .pricing .pricing-swiper .swiper-slide-next {
    transform: translateY(0);
  }
}
.pricing .pricing-swiper .swiper-slide-prev, .pricing .pricing-swiper .low_opacity {
  opacity: 0.4;
}
.pricing .pricing-swiper span.swiper-pagination-bullet {
  width: 62px;
  height: 4px;
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
.pricing .pricing-swiper span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #FF5B4A;
}
.pricing .pricing-swiper .popular-badge {
  position: absolute;
  z-index: 5;
  right: 100px;
  top: -7px;
  display: none;
}
.pricing .pricing-swiper .popular-badge p {
  padding: 10px 15px;
  background-color: #FF3B6A;
  position: relative;
}
.pricing .pricing-swiper .popular-badge p::after {
  content: "";
  width: 4px;
  height: 7px;
  background: #FF3B6A;
  position: absolute;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  top: 0;
  right: -4px;
}
.pricing .pricing-swiper .popular .popular-badge {
  display: block;
}
@media screen and (max-width: 1300px) {
  .pricing .pricing-swiper {
    padding: 60px 20px;
  }
  .pricing .pricing-swiper .pricing-card .card-top .bottom .iptv-btn {
    padding: 20px 40px;
  }
}
@media screen and (max-width: 1050px) {
  .pricing .pricing-swiper .pricing-card .card-top {
    padding: 40px 20px 30px;
  }
  .pricing .pricing-swiper .pricing-card .card-top .top .price-review .price .amount {
    font-size: 36px;
  }
  .pricing .pricing-swiper .pricing-card .card-top .bottom .iptv-btn {
    padding: 20px 20px;
  }
  .pricing .pricing-swiper .pricing-card .card-bottom {
    padding: 20px 20px;
  }
}

.container-full {
  max-width: 1920px;
}

.container-small {
  max-width: 1132px;
  margin: auto;
}

.banner {
  padding: 140px 20px 90px;
  margin-top: -80px;
  background: url("../images/hero-bg.png") no-repeat center/cover;
  background-repeat: no-repeat;
}
.banner::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(231.41deg, rgba(0, 0, 0, 0) 8.26%, #0E151B 68.29%);
  z-index: 0;
}
.banner .container-wrapper {
  position: relative;
  z-index: 2;
}
.banner .container-wrapper::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.0901960784);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.banner .container-wrapper::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.0901960784);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.banner .container-wrapper .breadcrumb {
  z-index: 2;
  padding: 32px 12px;
  margin-bottom: 0;
}
.banner .container-wrapper .breadcrumb ul {
  display: flex;
  gap: 16px;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.banner .container-wrapper .breadcrumb ul li {
  color: rgba(255, 255, 255, 0.4196078431);
}
.banner .container-wrapper .breadcrumb ul li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4196078431);
}
.banner .container-wrapper .breadcrumb ul li a:hover {
  color: #FF3B6A;
}
.banner .container-wrapper .breadcrumb ul li.current {
  color: #ffffff;
}
.banner .container-small {
  max-width: 1132px;
  margin: auto;
  padding-top: 100px;
}
.banner .container-small .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}
.banner .container-small .right {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.banner .container-small .right .circle-img {
  rotate: -12.88deg;
}

@media screen and (max-width: 767px) {
  .row {
    gap: 40px;
  }
}
.iptv-header {
  padding: 50px 20px 0;
  z-index: 9999;
}
.iptv-header .header-right {
  display: flex;
  gap: 40px;
  align-items: center;
}
.iptv-header .header-right .login {
  padding-left: 40px;
  border-left: 1px solid rgba(255, 255, 255, 0.2588235294);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.iptv-header .header-right .login a {
  font-family: "Axiforma", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: justify;
  color: #ffffff;
  text-decoration: none;
}
.iptv-header .header-right .login a:hover {
  color: #FF3B6A;
}
@media screen and (max-width: 767px) {
  .iptv-header {
    padding: 15px 8px;
  }
}

.site-footer {
  padding: 90px 20px 60px;
  position: relative;
  background-color: #122125;
}
.site-footer::before {
  content: "";
  width: 100%;
  height: 12px;
  background: url("../images/frame-footer.png") no-repeat center/cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 16px;
}
.site-footer::after {
  content: "";
  width: 100%;
  height: 12px;
  background: url("../images/frame-footer.png") no-repeat center/cover;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 16px;
}
.site-footer .footer-container {
  max-width: 1292px;
  margin: auto;
}
.site-footer .footer-container .first-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 40px;
}
.site-footer .footer-container .first-col .footer-logo {
  max-width: 155px;
}
.site-footer .footer-container .first-col .footer-description {
  font-family: "Axiforma", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 164%;
  letter-spacing: 0%;
  opacity: 0.8;
}
.site-footer .footer-container .links-div {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.site-footer .footer-container .links-div .title {
  font-family: "Axiforma", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
}
.site-footer .footer-container .links-div .title::after {
  content: "";
  width: 25px;
  height: 2.5px;
  background-color: #FF3B6A;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.site-footer .footer-container .links-div .links {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.site-footer .footer-container .links-div .links li a {
  text-decoration: none;
  font-family: "Axiforma", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}
.site-footer .footer-container .links-div .links li a:hover {
  font-weight: 800;
  opacity: 1;
}
.site-footer .footer-container .links-div.second-div {
  padding-left: 20px;
}
.site-footer .footer-container .footer-bottom {
  margin-top: 20px;
  padding-top: 46px;
  border-top: 1px dashed rgba(255, 255, 255, 0.0196078431);
  border-image: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.137254902) 0, rgba(255, 255, 255, 0.137254902) 20px, transparent 20px, transparent 30px) 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-footer .footer-container .footer-bottom .social-media {
  display: flex;
  align-items: center;
  gap: 16px;
}
.site-footer .footer-container .footer-bottom .social-media a {
  transition: 0.3s ease;
}
.site-footer .footer-container .footer-bottom .social-media a:hover {
  scale: 1.2;
}
@media (max-width: 992px) {
  .site-footer .footer-container .first-col {
    padding-right: 20px;
  }
  .site-footer .footer-container .first-col .footer-logo {
    max-width: 110px;
  }
  .site-footer .footer-container .links-div.second-div {
    padding-left: 0;
  }
  .site-footer .footer-container .col-md-2 {
    padding-left: 0;
  }
  .site-footer .footer-container .footer-bottom {
    margin-top: 0;
    padding-top: 35px;
  }
}
@media (max-width: 767px) {
  .site-footer .footer-container .row {
    gap: 40px;
  }
  .site-footer .footer-container .row .col-md-2 {
    padding-left: 12px;
  }
}
@media (max-width: 576px) {
  .site-footer .footer-container .footer-bottom {
    flex-direction: column;
    gap: 30px;
  }
}

.btns-wrapper {
  display: flex;
  gap: 8px;
  margin-top: 20px;
}

.iptv-btn {
  font-family: "Axiforma", sans-serif;
  font-weight: 600;
  font-size: 16px;
  leading-trim: Cap height;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 33px 20px;
  border: 1px solid;
  border-radius: 24px;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.iptv-btn.btn-1 {
  background-color: #FF3B6A;
  border-color: #FF3B6A;
  color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}
.iptv-btn.btn-1:hover {
  color: #FF3B6A;
  background-color: transparent;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.3);
}
.iptv-btn.btn-2 {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.1019607843);
  transition: all 0.3s ease-in-out;
}
.iptv-btn.btn-2:hover {
  background-color: transparent;
  border-color: #FF3B6A;
  color: #FF3B6A;
}
@media screen and (max-width: 1300px) {
  .iptv-btn {
    padding: 20px 20px;
    border-radius: 12px;
  }
}
@media screen and (max-width: 1050px) {
  .iptv-btn {
    font-size: 14px;
  }
}

.posts-slider {
  margin-bottom: 40px;
  padding: 0 20px;
}
.posts-slider .posts-swiper .post {
  width: 100%;
  height: 411px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 32px;
  border-radius: 24px;
}
@media screen and (max-width: 1200px) {
  .posts-slider .posts-swiper .post {
    height: 350px;
  }
}
@media screen and (max-width: 992px) {
  .posts-slider .posts-swiper .post {
    height: 300px;
  }
}
@media screen and (max-width: 767px) {
  .posts-slider .posts-swiper .post {
    flex-direction: column;
    gap: 30px;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
  }
}
.posts-slider .posts-swiper .post .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 300px;
}
.posts-slider .posts-swiper .post .content .title {
  font-family: "Axiforma", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 136%;
  letter-spacing: 0%;
  color: #ffffff;
}
@media screen and (max-width: 1050px) {
  .posts-slider .posts-swiper .post .content .title {
    font-size: 20px;
  }
}
.posts-slider .posts-swiper .post .content .post-date {
  font-family: "Axiforma", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 136%;
  letter-spacing: 0%;
  color: #ffffff;
  opacity: 0.6;
}
.posts-slider .posts-swiper .post .iptv-btn {
  padding: 30px 50px;
  border-radius: 24px;
}
@media screen and (max-width: 992px) {
  .posts-slider .posts-swiper .post .iptv-btn {
    padding: 20px 30px;
    border-radius: 12px;
  }
}
.posts-slider .posts-swiper .swiper-button-next,
.posts-slider .posts-swiper .swiper-button-prev {
  display: none !important;
}
.posts-slider .posts-swiper .swiper-pagination {
  top: 40px;
  bottom: auto;
}
.posts-slider .posts-swiper .swiper-pagination span.swiper-pagination-bullet {
  float: right;
  width: 58px;
  height: 2px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.3568627451);
}
@media screen and (max-width: 767px) {
  .posts-slider .posts-swiper .swiper-pagination span.swiper-pagination-bullet {
    width: 30px;
  }
}
.posts-slider .posts-swiper .swiper-pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #ffffff;
}
.posts-slider .posts-swiper .swiper-pagination span.swiper-pagination-bullet:first-child {
  margin-right: 40px;
}

.post-filter {
  padding: 0 20px 90px;
}
.post-filter .filter-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-filter .filter-row .post-name {
  font-family: "Axiforma", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: #ffffff;
}
.post-filter .filter-row .post-name .total-post {
  font-family: "Axiforma", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0%;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.337254902);
}
.post-filter .filter-row .filter select#post-order {
  padding: 16px 56px 16px 28px;
  border-radius: 8px;
  background-color: transparent;
  color: #ffffff;
  appearance: none;
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.32471 1L5.32471 5L9.32471 1' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 28px center;
  background-size: 16px;
  cursor: pointer;
}
.post-filter .filter-row .filter select#post-order option {
  color: #000;
  background-color: beige;
  padding: 8px 5px;
}
.post-filter .post-row {
  margin-top: 40px;
}
.post-filter .post-row .post {
  display: block;
  background: url("../images/post-img-1.png") no-repeat center/cover;
  width: 100%;
  height: 233px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 20px;
}
.post-filter .post-row .post .title {
  font-family: "Axiforma", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 136%;
  letter-spacing: 0%;
  color: #ffffff;
}
.post-filter .post-row .post .post-date {
  font-family: "Axiforma", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 136%;
  letter-spacing: 0%;
  color: #ffffff;
  opacity: 0.6;
}
.post-filter .post-row .pagination {
  justify-content: center;
  margin-top: 40px;
}
.post-filter .post-row .pagination .page-numbers {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  gap: 20px;
}
.post-filter .post-row .pagination .page-numbers li .page-numbers {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border: 1px solid rgba(255, 255, 255, 0.1019607843);
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.post-filter .post-row .pagination .page-numbers li .page-numbers.current {
  background-color: #FF3B6A;
  border-color: #FF3B6A;
  color: #ffffff;
}
.post-filter .post-row .pagination .page-numbers li .page-numbers.next, .post-filter .post-row .pagination .page-numbers li .page-numbers.prev {
  border-color: transparent;
}

.hero {
  padding: 170px 20px 0;
  margin-top: -80px;
  position: relative;
  background: url("../images/hero-bg.png") no-repeat center/cover;
}
.hero::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(231.41deg, rgba(0, 0, 0, 0) 8.26%, #0E151B 68.29%);
  z-index: 0;
}
.hero .left-side {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 50px;
  position: relative;
  z-index: 3;
}
.hero .left-side .section-title, .hero .left-side p, .hero .left-side .btns-wrapper {
  z-index: 1;
}
.hero .left-side .circle-shape {
  position: absolute;
  top: -250px;
  z-index: 0;
}
.hero .right-side {
  position: relative;
  z-index: 3;
}
.hero .right-side .swiper {
  max-width: 445px;
  height: 622px;
  aspect-ratio: 4/3;
}
@media screen and (max-width: 1300px) {
  .hero .right-side .swiper {
    max-width: 380px;
    height: 500px;
  }
}
@media screen and (max-width: 767px) {
  .hero .right-side .swiper {
    max-width: 340px;
    height: 400px;
  }
}
@media screen and (max-width: 576px) {
  .hero .right-side .swiper {
    max-width: 280px;
    height: 330px;
  }
}
.hero .right-side .swiper-slide {
  border-radius: 24px;
  transition: all 1s ease-in-out;
}
.hero .right-side .swiper-slide .slider-img {
  border-radius: 24px;
  width: 445px;
  height: 622px;
  object-fit: cover;
}
@media screen and (max-width: 1300px) {
  .hero .right-side .swiper-slide .slider-img {
    width: 380px;
    height: 500px;
  }
}
@media screen and (max-width: 767px) {
  .hero .right-side .swiper-slide .slider-img {
    width: 340px;
    height: 400px;
  }
}
@media screen and (max-width: 576px) {
  .hero .right-side .swiper-slide .slider-img {
    width: 280px;
    height: 330px;
  }
}
.hero .right-side .swiper-button-next,
.hero .right-side .swiper-button-prev {
  display: none !important;
}
.hero .right-side .scroll-bottom {
  position: absolute;
  bottom: -100px;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 15px;
}
.hero .right-side .scroll-bottom a.scroll-btn {
  text-decoration: none;
  font-family: "Axiforma", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 145%;
  letter-spacing: 0%;
}
@media screen and (max-width: 992px) {
  .hero .row {
    flex-direction: column;
    gap: 40px;
  }
  .hero .row .col-md-6 {
    width: 100%;
  }
  .hero .row .col-md-6 .scroll-bottom {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .hero {
    padding: 170px 8px 0;
  }
  .hero .row {
    flex-direction: column;
    gap: 40px;
  }
  .hero .row .left-side {
    padding-right: 0;
  }
  .hero .row .left-side .circle-shape {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .hero .row .left-side .btns-wrapper {
    flex-direction: column;
  }
}

.reel {
  background: url("../images/reel-bg.png") no-repeat center/cover;
  padding: 55px 20px;
  margin-top: -130px;
  margin-left: -4px;
  rotate: -2deg;
}
.reel .quality-badge {
  display: flex;
  align-items: center;
  gap: 30px;
}
.reel .quality-badge .left, .reel .quality-badge .right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.reel .quality-badge .left .content p, .reel .quality-badge .right .content p {
  font-weight: 800;
}
@media screen and (max-width: 992px) {
  .reel {
    margin-top: 0;
    margin-left: 0;
    rotate: 0deg;
    padding: 35px 20px;
  }
  .reel .row {
    justify-content: center;
  }
  .reel .row .col-md-6 {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .reel .row {
    justify-content: center;
  }
  .reel .row .col-md-6 {
    width: 100%;
  }
  .reel .row .quality-badge {
    flex-direction: column;
  }
}

.abonnement {
  margin-top: 50px;
  padding: 150px 20px 90px;
  background: url("../images/iptv-shape.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 43% -100px;
  overflow: hidden;
}
.abonnement .left {
  position: relative;
}
.abonnement .left .circle-shape {
  position: absolute;
  right: -90px;
  top: -170px;
}
@media screen and (max-width: 992px) {
  .abonnement .left .circle-shape {
    display: none;
  }
}
.abonnement .right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 15px;
  padding-left: 30px;
  position: relative;
}
.abonnement .to-center {
  justify-content: center;
}
.abonnement .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  gap: 10px;
  width: 1050px;
}
.abonnement .cards .card {
  padding: 40px;
  border: 7px solid #0B1C21;
  background-color: #122429;
  border-radius: 16px;
  rotate: -3deg;
  position: relative;
}
.abonnement .cards .card::after {
  content: "";
  width: 64px;
  height: 64px;
  position: absolute;
  top: -7px;
  right: -7px;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  background-color: #06141B;
}
.abonnement .cards .card img {
  width: 64px;
  height: 64px;
}
.abonnement .cards .card .card-title {
  color: #ffffff;
  margin-top: 20px;
}
.abonnement .cards .card p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
}
@media screen and (max-width: 992px) {
  .abonnement .cards .card {
    padding: 20px;
  }
  .abonnement .cards .card::after {
    content: "";
    width: 34px;
    height: 34px;
  }
  .abonnement .cards .card img {
    width: 44px;
    height: 44px;
  }
  .abonnement .cards .card p {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .abonnement .right {
    padding-left: 12px;
  }
  .abonnement .right .circle-shape {
    position: absolute;
    bottom: 500px;
    left: -500px;
  }
}
@media screen and (max-width: 576px) {
  .abonnement .cards {
    grid-template-columns: 1fr;
  }
  .abonnement .cards .card {
    padding: 30px;
  }
}

.series-wrapper {
  overflow: hidden;
}

.series {
  padding: 60px 20px 0px;
  overflow-x: hidden;
}
.series .to-center {
  justify-content: center;
}
.series .to-center .content {
  max-width: 950px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .series {
    padding: 0 20px 0px;
  }
}

.series-2 .photobanner__wrap {
  display: flex;
  margin-top: 50px;
  rotate: -3deg;
}
.series-2 .photobanner__wrap:hover .photobanner {
  animation-play-state: paused;
}
.series-2 .photobanner__wrap .photobanner {
  display: flex;
  animation-name: swiperAnimation;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.series-2 .photobanner__wrap .photobanner img {
  width: 180px;
  height: 255px;
  object-fit: cover;
  border-radius: 16px;
  margin-right: 20px;
  opacity: 0.5;
  transition: 0.3s ease;
}
.series-2 .photobanner__wrap .photobanner img:hover {
  opacity: 1;
}
.series-2 .photobanner__wrap_2 {
  display: flex;
  margin-top: 20px;
  rotate: -3deg;
}
.series-2 .photobanner__wrap_2:hover .photobanner_2 {
  animation-play-state: paused;
}
.series-2 .photobanner__wrap_2 .photobanner_2 {
  display: flex;
  animation-name: swiperAnimation2;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.series-2 .photobanner__wrap_2 .photobanner_2 img {
  width: 180px;
  height: 255px;
  object-fit: cover;
  border-radius: 16px;
  margin-right: 20px;
  opacity: 0.5;
  transition: 0.3s ease;
}
.series-2 .photobanner__wrap_2 .photobanner_2 img:hover {
  opacity: 1;
}

.streaming {
  background: url("../images/reel-bg.png") no-repeat center/cover;
  padding: 55px 20px;
  margin-left: -4px;
  margin-top: 50px;
  margin-bottom: 50px;
  rotate: -3deg;
}
.streaming .photobanner__wrap_3 {
  display: flex;
  gap: 50px;
}
.streaming .photobanner__wrap_3:hover .photobanner_3 {
  animation-play-state: paused;
}
.streaming .photobanner__wrap_3 .photobanner_3 {
  display: flex;
  animation-name: swiperAnimation;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  gap: 50px;
}
.streaming .photobanner__wrap_3 .photobanner_3 img {
  width: auto;
  max-height: 80px;
  object-fit: cover;
  padding-right: 20px;
}
@media screen and (max-width: 992px) {
  .streaming {
    padding: 35px 20px;
    margin-top: 35px;
    margin-bottom: 50px;
  }
}

.plan {
  padding: 0 20px;
}
.plan .plan-row {
  background: url("../images/plan-shape-circle.png") no-repeat center/cover;
  margin-top: -80px;
  margin-bottom: -185px;
}
.plan .content {
  display: flex;
  align-items: center;
  padding-left: 50px;
  rotate: -2deg;
}
.plan .reel-camera {
  rotate: -7.42deg;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 1200px) {
  .plan .plan-row .content {
    padding-left: 0;
  }
}
@media screen and (max-width: 992px) {
  .plan .plan-row {
    margin-bottom: -115px;
  }
  .plan .plan-row .content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .plan .plan-row .reel-camera img {
    max-width: 300px;
  }
}
@media screen and (max-width: 767px) {
  .plan .plan-row {
    margin-top: 0;
    background: url("../images/plan-shape-circle.png") no-repeat center/600px;
  }
}

.plan_2 {
  padding-bottom: 90px;
}

.testimonial {
  padding: 300px 20px 90px;
  background: url("../images/hero-circle.png") no-repeat center/contain;
}
.testimonial .plan-row {
  position: relative;
}
.testimonial .plan-row .circle-shape {
  position: absolute;
  top: -300px;
  left: 40%;
  rotate: -10.5deg;
}
.testimonial .plan-row .right {
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
}
.testimonial .plan-row .right .btns-wrapper .iptv-btn {
  padding: 30px 40px;
  border-radius: 12px;
}
@media screen and (max-width: 1300px) {
  .testimonial .plan-row .right .btns-wrapper .iptv-btn {
    padding: 20px 40px;
  }
}
@media screen and (max-width: 1050px) {
  .testimonial .plan-row .right .btns-wrapper .iptv-btn {
    padding: 20px 20px;
  }
}
@media screen and (max-width: 992px) {
  .testimonial {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 576px) {
  .testimonial .right .btns-wrapper {
    flex-direction: column;
  }
}

.faq {
  padding: 200px 20px 90px;
  background: url("../images/hero-circle.png") no-repeat top center/600px;
}
.faq .plan-row {
  justify-content: center;
}
.faq .plan-row .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 650px;
}
.faq .plan-row .content .img {
  rotate: -12.88deg;
}
.faq .plan-row .content .section-title {
  text-align: center;
  rotate: -2deg;
}
.faq .plan-row .content p {
  text-align: center;
}
.faq .plan-row .faq-inner {
  max-width: 937px;
}
.faq .plan-row .faq-inner .accordion-item {
  background: #122429;
  border-color: rgba(255, 255, 255, 0.1019607843);
  margin-bottom: 16px;
  border-radius: 16px;
}
.faq .plan-row .faq-inner .accordion-item .accordion-button {
  background: #122429;
  color: #ffffff;
  font-family: "Axiforma", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 128%;
  letter-spacing: 0%;
  text-transform: capitalize;
  border-radius: 14px;
}
.faq .plan-row .faq-inner .accordion-item .accordion-button::after {
  background: url("../images/arrow-down.png") no-repeat top center/contain;
}
.faq .plan-row .faq-inner .accordion-item .accordion-button:not(.collapsed) {
  box-shadow: none;
}
.faq .plan-row .faq-inner .accordion-item .accordion-body {
  color: #ffffff;
  opacity: 0.6;
}
@media screen and (max-width: 1300px) {
  .faq {
    padding: 100px 20px 90px;
  }
}
@media screen and (max-width: 992px) {
  .faq {
    padding: 100px 20px 0;
  }
}

.flags-wrapper {
  overflow: hidden;
}

.flags {
  background: url("../images/reel-bg.png") no-repeat center/cover;
  padding: 55px 20px;
  margin-left: -4px;
  margin-top: 50px;
  margin-bottom: 50px;
  rotate: -3deg;
}
.flags .photobanner__wrap_3 {
  display: flex;
  gap: 50px;
}
.flags .photobanner__wrap_3:hover .photobanner_3 {
  animation-play-state: paused;
}
.flags .photobanner__wrap_3 .photobanner_3 {
  display: flex;
  animation-name: swiperAnimation;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  gap: 50px;
}
.flags .photobanner__wrap_3 .photobanner_3 img {
  width: auto;
  max-height: 80px;
  object-fit: cover;
  padding-right: 20px;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}
.flags .photobanner__wrap_3 .photobanner_3 img:hover {
  opacity: 1;
}
@media screen and (max-width: 992px) {
  .flags {
    padding: 35px 20px;
  }
}

.blogs {
  padding: 0 20px 90px;
  background: url("../images/hero-circle.png") no-repeat center/contain;
}
.blogs .plan-row .left {
  display: flex;
  align-items: center;
}
.blogs .plan-row .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 40px;
}
.blogs .plan-row .right .circle-shape {
  rotate: -2deg;
  margin-top: -95px;
}
.blogs .post-row {
  z-index: 3;
  margin-top: -40px;
}
.blogs .post-row .col-md-4 {
  z-index: 2;
}
.blogs .post-row .post {
  display: block;
  background: url("../images/post-img-1.png") no-repeat center/cover;
  width: 100%;
  height: 233px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.blogs .post-row .post .title {
  font-family: "Axiforma", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 136%;
  letter-spacing: 0%;
  color: #ffffff;
}
.blogs .post-row .post .post-date {
  font-family: "Axiforma", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 136%;
  letter-spacing: 0%;
  color: #ffffff;
  opacity: 0.6;
}
@media screen and (max-width: 992px) {
  .blogs {
    padding: 0 20px 60px;
  }
  .blogs .plan-row .right {
    padding-right: 0;
  }
  .blogs .plan-row .right .circle-shape {
    max-width: 250px;
    margin-top: -95px;
  }
}
@media screen and (max-width: 767px) {
  .blogs .plan-row .right .circle-shape {
    display: none;
  }
  .blogs .post-row {
    margin-top: 5px;
  }
}

@keyframes swiperAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes swiperAnimation2 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=main.css.map */
